@import "normalize";
@import "variables";

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

#main-nav ul {
    padding-left: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 50px;
}

a {
    text-decoration: none;
    color: $text-color-default;
}

body {
    background-color: $primary-page-color;
    color: $text-color-default;
}

header {
    background-color: $secondary-page-color;
}

ul {
    padding-left: 40px;
}

.hide {
    display: none;
}

#main-nav li, #about h3 {
    cursor: pointer;
    user-select: none;
}

#main-nav li:hover {
    border-bottom: solid $text-color-default 2px;
}

#projects img {
    width: 100%;
    max-width: 360px;
}

#projects-grid {
    max-width: 360px;
    margin: 0 auto;
    @media screen and (min-width: $screen-size-med) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        max-width: initial;
        justify-items: center;
        gap: 40px;
    }
}

form {
    display: grid;
    row-gap: 10px;
    max-width: 360px;
    margin: 0 auto;
    @media screen and (min-width: $screen-size-med) {
        grid-template-columns: 80px auto;
    }
}

#portrait {
    display: block;
    width: 185px;
    border-radius: 50%;
    margin: 0 auto;
    @media screen and (min-width: $screen-size-med) {
        width: 300px;
        margin: initial;
    }
}

h1, h3 {
    margin: 0;
}

h2 {
    margin-top: 10px;
}

#about p {
    padding-left: 20px;
}

#intro {
    padding-top: 10px;
}

.project {
    max-width: 360px;
    margin-bottom: 70px;
}

img {
    border: solid $text-color-default 2px;
}

#about-top {
    width: 320px;
    @media screen and (min-width: $screen-size-med) {
        width: initial;
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
    }
}

#about {
    width: 320px;
    margin: 0 auto;
    @media screen and (min-width: $screen-size-med) {
        width: initial;
    }

    @media screen and (min-width: $screen-size-lrg) {
        max-width: 1008px;
    }
}

#contact {
    @media screen and (min-width: $screen-size-lrg) {
        max-width: 1008px;
        margin: 0 auto;
    }
}

#submit {
    width: 100px;
    margin-left: auto;
}

#about-sections {
    @media screen and (min-width: $screen-size-med) {
        width: 640px;
        margin: 0 auto;
    }
}

#about, #projects, #contact {
    padding-left: 10px;
    padding-right: 10px;
}

.details {
    img {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: $screen-size-med) {
        width: 640px;
        margin-left: auto;
        margin-right: auto;   
    }
}